.contain {
  margin: 40px 0;
  color: #fff;
}
.containProyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}
/* @media (min-width: 720px) {
  .containProyect {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
} */
