.containSkills {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
.aboutMe_p b {
  font-size: 20px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 80px;
}
.subTitle {
  margin: 20px 0;
}
.btnViewMore {
  background: none;
  color: #ddd;
  border: none;
  border-bottom: 0.1px solid #ddd;
}
.btnViewMore:hover {
  color: #fff;
  cursor: pointer;
}

@media (min-width: 720px) {
  .aboutMe_p {
    font-size: 18px;
  }
  .aboutMe_p b {
    font-size: 24px;
  }
}
