.containHome {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.separateComponent {
  margin: 20px 0;
  color: #444;
}

.containContact {
  margin: 40px 0;
}

.titleContact {
  color: #fff;
}
.divLinksContact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}
.linksContact {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 10px;
}

/* @media (min-width: 720px) {
  .header {
    justify-content: space-evenly;
  }
  .imgProfile {
    width: 300px;
  }
  .titleHeader {
    width: 100%;
    font-size: 38px;
  }
} */
/* @media (min-width: 1366px) {
  .header {
    justify-content: space-evenly;
  }
  .imgProfile {
    width: 300px;
  }
  .titleHeader {
    width: 50%;
    font-size: 38px;
  }
} */
