@import 'tailwindcss';
#root {
  max-width: 80vw;
  margin: 0 auto;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 1440px) {
  #root{
    max-width: 60vw;
  }
}