.contain {
  margin: 40px 0;
  color: #fff;
}
.containProyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}
.proyects {
  background-color: #ffffff2f;
  backdrop-filter: blur(1.2px);

  margin: 20px 0;
  padding: 20px;
  /* border-radius: 10px; */
}

.titleProyect {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 18px;
  border-bottom: 1px solid #aaa;
}

.containLinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
}

.linksProyects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #e7fcfe;
  color: #171c2e;
}
.linksProyects:hover {
  outline: 2px solid #171c2e;
}
@media (min-width: 720px) {
  .containProyect {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .proyects {
    width: 500px;
    min-height: 700px;
    margin: 20px;
  }
}
